/* 변수 */
:root {
    /* 폰트 */
    --font-SpoqaHanSansNeo: "Spoqa Han Sans Neo";
    /* 컬러 */
    --color-mainPink: #ec8f8f;
    --color-mainGreen: #a4e3b6;
    --color-subPink: #c77171;
    --color-subGreen: #8bc29b;
    --color-lightPink: #ffd4d4;
    --color-lightGreen: #d2ffdf;
    --color-9gray: #d9d9d9;
    /* 글자 색상 */
    --tpWhite: #ffffff;
    --tpBlack: #282828;
    --tpGray: #6c6c6c;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body {
    font-family: var(--font-SpoqaHanSansNeo);
    color: var(--tpBlack);
}
h1, h2, h3, h4, h5, h6{
    all: unset;
}
a {
    color: var(--tpBlack);
    text-decoration: none;
}
ul,
ol {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
button {
    all: unset;
}

input {
    all: unset;

    padding: 5px;
    border: 1px solid var(--color-9gray);
    border-radius: 5px;
}

/* ~~ 인풋 요소 number 속성에서 화살표 없애기 ~~ */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* 폰트 CSS */
@font-face {
    font-family: "Spoqa Han Sans Neo";
    font-style: normal;
    font-weight: 400;
    src: local("Spoqa Han Sans Neo"), url(./assets/font/SpoqaHanSansNeo-Regular.woff) format("woff");
}

@font-face {
    font-family: "Spoqa Han Sans Neo";
    font-style: bold;
    font-weight: 700;
    src: local("Spoqa Han Sans Neo"), url(./assets/font/SpoqaHanSansNeo-Bold.woff) format("woff");
}

/* 구글 심볼 CSS */
.material-symbols-rounded {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
.icon{
    color: var(--color-9gray);
    cursor: pointer;
}