/* CSS 기본값 초기화 */

html, body{
  margin: 0;
  padding: 0;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
  /* Pretendard 폰트 적용 */
  font-family: Pretendard,'Noto Sans KR', sans-serif;
}

